<app-search-bar [title]='title' (search)='onSearch($event)'></app-search-bar>

<div class="users-container mat-elevation-z2" flex layout="row">
  <mat-table [dataSource]='dataSource'>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id" class='short'>
      <mat-header-cell *matHeaderCellDef class='short'> ID </mat-header-cell>
      <mat-cell *matCellDef="let user" class='short'> {{ user.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.fullName }} </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.gender }} </mat-cell>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age" class='short'>
      <mat-header-cell *matHeaderCellDef class='short'> Age </mat-header-cell>
      <mat-cell *matCellDef="let user" class='short'> {{ user.age }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.phone }} </mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.username }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
