<mat-toolbar color="primary" class='mat-elevation-z8'>
  <!-- Sidenav activate -->
  <div>
    <button type="button" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button type="button" mat-button routerLink="users">
      USERS
    </button>
    <button type="button" mat-button routerLink="books">
      BOOKS
    </button>
    <!-- <button type="button" mat-button routerLink="books-by-author">
      BOOKS (by author)
    </button> -->
  </div>

  <span class="fill-space"></span>

  <span>BLUE HUNTER</span>

</mat-toolbar>
